
body {
    margin: 0;
}

header {
    display: flex;
    background-size: cover;
    background-image: url(../header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.logo img {
    margin: 0 0 0 100px;
    max-width: 200px;
    height: auto;
}

nav {
    flex-grow: 1;
    margin-left: 250px;
    margin-top: 60px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;

}

nav a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
    font-family: Tahoma;
    font-size: 16px;
}

nav a:hover {
    color: #f72525;
}

.social {
    width: 20px;
    height: 20px;
}

.slogan {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;   
}

.slogan img {
    width: 40%;
    height: auto;
}

.redtop {
    width: 100%;
    background: url(../redBreakTop.png) repeat-x top;
    height: 40px;
    position: absolute;
    top: 94vh;
}

.redmiddle {
    background-color: #e02f2f;
    display: flex;
    height: 60vh;
    width: 100vw;
}

.redpicture img {
    width: auto;
    height: 60vh;
}

.redmiddle p {
    box-sizing: auto 100px;
}