@media only screen 
	and (min-width: 0px) 
	and (max-width : 700px) {
        html {
            font-size: 75%;
        }
        header nav li.socialfb {
            margin: 0;
        }

	 .header_welcome {
            width: auto;
            margin: 0 auto;
            margin-top: 50px;
            height: auto;
            padding-bottom: 50px;
            text-align: center;
            position: absolute;
            left: 14%;
            margin-left: -10px;
            z-index: 99999;
            top: 90px;
        }

        a.redbutton:link, a.redbutton:visited {
            margin: 0px auto;
            height: auto;
            color: #ffffff;
            background: #e02f2f;
            text-decoration: none;
            padding: 5px 10px 5px 10px;
            font-family: 'Lato', sans-serif;
            font-size: 10px;
            font-weight: 900;
            font-style: italic;
            text-align: center;
            position: relative;
            display: block;
            width: auto;
            margin-top: 10px;
            float: left;
        }
	
        header_wrapper {
            background: url(../header.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 100vh;
            width: 100%;
        }

	.header_welcome img{
            max-width: 600px;
            width: 250px;
        }
        .wrapper {
            width: auto;
            padding: 0 1em;
        }
        .wrapper h6 {
            margin-top: 0px;
        }
        
        .header nav {
            display: none;
        }
        .header_welcome {
            width: auto;
            margin: 0 auto;
            margin-top: 50px;
            height: auto;
            padding-bottom: 50px;
            text-align: center;
            position: absolute;
            left: 14%;
            margin-left: -10px;
            z-index: 99999;
            top: 90px;
        }
        .hero_screenfit {
            height: 650px;
        }
        .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
            width: auto;
        }
        .col, .cols {
            float: none;
            width: auto;
            display: block;
            margin: 0 0 1em 0;
        }

        .home_pic {
            margin-bottom: -15px;
        }
        .work_hero_about, .contact_hero {
            display: none;
        }
        .footer .cols {
            float: left;
            margin-left: 10px;
        }

        a.mobilemenubutton {
            display: block !important;
        }

        
}
