@media only screen and (min-width: 0px) and (max-width: 400px) {
    html {
        font-size: 60%;
    }
    home_pic {
        margin-bottom: 1.5px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    html {
        font-size: 75%;
    }
}
@media only screen and (min-width: 0px) and (max-width: 800px) {
    header nav{
        display: none;
    }

    a.redbutton:link, a.redbutton:visited {
       font-size: 15px;
    }

    a.mobilemenubutton {
        margin-top: 15px;
        display: block !important;
    }

    .hero_screenfit {
        display: none;
    }
}
@media only screen and (min-width: 0px) and (max-width: 950px){
    .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
        width: auto;
    }

    .footer .cols {
        float: left;
        margin-left: 10px;
    }
    
    .col, .cols {
        float: none;
        width: auto;
        display: block;
        margin: 0 0 1em 0;
    }
    .home_pic {
        position: relative;
        margin-bottom: 0px;
    }
    .home_pic img{
        max-width: 447px;
        width: 95%;
        height: auto;
    }
    .breaker {
        display: none;
    }
}
